<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div id="content"></div>

</body>
<script id="template" type="html/template">
    <h1><%= title %></h1>
    <% if(type == 1){ %> 
        <p  class="123">状态: <%= status %></p>
    <%}%> xx..
</script>
<script>
function trim(str){
    return str.replace(/^\s*|\s*$/g, "");
}
// 转移 ' 和 "
function quote(str){
    return str.replace(/('|")/g, '\\$1');
}


var html = template.innerHTML
    data = {title: "da宗熊", type: 1, status: "很好"};

// 动态函数的连个参数
var __TMP_DATA__ = '__TMP_DATA__', __TMP_LIST__ = '__TMP_LIST__';
// 结果列表，动态函数字符串
var resList = [], fnStr = '', rightContent = '';


// 去除换行
html = html.replace(/\s/g, " ");

// 因为 'xx内容<% 表达式 %>' 这种形式比较好用正则匹配，所以，把 '前面内容<%表达式%>后面内容' 的 '前面' 和 '后面' 去掉
html = html.replace(/(.*?)(<%.*%>)(.*)/g, function(str, left, center, right){
    rightContent = right;
    resList.push(left);
    console.log("left:%s center:%s right:%s", left, center, right);
    return center;
});

// 开始匹配表达式
html.replace(/(.*?)<%(.*?)%>/g, function(str, html, exp){
    console.log("html:%s exp:%s", html, exp);
    // html内容
    fnStr += __TMP_LIST__ + ".push('" + quote(html) + "');";

    // 表达式内容
    if(exp.indexOf("=") === 0){
        fnStr += __TMP_LIST__ + ".push("+ exp.slice(1) +");";
    }else{
        fnStr += exp;
    }
});

// 构建变量定义
var varStatement = "";
for(var name in data){
    varStatement += 'var ' + name + '=__TMP_DATA__.' + name + ';';
}
fnStr = varStatement + fnStr;

// 构建编译函数
var fn = new Function(__TMP_DATA__, __TMP_LIST__, fnStr);

if(resList.length > 0){
    fn(data, resList);
    resList.push(rightContent);
    console.log(resList.join(""));
}else{
    console.log(html);
}
</script>
</html>