<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="script/init.js"></script>
</head>
<body  ng-app="myapp">
    <div ng-controller="listCtrl">
        <input type="text" ng-model="keyword" />
        <div ng-if="keyword==123" class="animate-if">hellohello</div>
        <ul>
            <li class="animate-if" ng-if="hasItem" ng-init="" ng-repeat="user in rankFilteredList|filter:keyword">
                <a href="http://my.100bt.com/u/{{user.userId}}/">
                <img src="{{user.headIconUrl}}" alt="">
                <span>{{user.userName}}</span>
                </a>
            </li>
            <li class="animate-if" ng-if="!hasItem">没找到结果</li>
        </ul>
    </div>
</body>
</html>
